<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='home.css')}}">
    <title>Home-Bangle</title>
</head>
<body>
    <header>
        <div style = 'cursor: pointer;' onclick = "location.href = '/home'" class="il">
            <img height="30px" src="{{url_for('static',filename='gr.png')}}" alt="Bangel logo">
            <h2>Bangle</h2>
        </div>
        <nav>
            <a href="/library">Library</a>
            <a href="/account">{{ user }}</a>
            <a href="/logout">Sign out</a>
        </nav>
    </header>
    <div class="main">
        <h1>Recent bangles</h1>
        <p>Bangles are small codebases where you can run code and collaborate with others.</p>
        <div class="rc">
            <div class="recent" id = "rct"></div>
            <div class="ct"><a class="btt" href="/library">All bangles</a></div>
        </div>
        <h1>Search for a user</h1>
        <label for="user">Email or username</label>
        <div class="dv"><input id="query" type="text" name="user"></div>
        <div class="dv"><button onclick="search()">Search</button></div>
        <div id="res" class="results">
        </div>
    </div>
    <script>
        let bgs = "{{bangles}}";
        bgs = JSON.parse(bgs.replace(/&#39;/g, '"'));
        for(const ban of bgs){
            const dv = document.createElement('div');
            const imd = document.createElement('div');
            const img = document.createElement('img');
            img.src = "{{url_for('static',filename='bangel.png')}}";
            img.style.width = '150px';
            img.style.height = '150px';
            const st = document.createElement('p');
            st.textContent = ban;
            imd.appendChild(img);
            dv.appendChild(imd);
            dv.appendChild(st);
            dv.style.cursor = 'pointer';
            dv.onclick = function(){
                location.href = `https://bangle-app-fxgs.onrender.com/edit/${ban}`
            }
            document.getElementById('rct').appendChild(dv);
        }
        function search(){
            fetch(`/search?query=${document.getElementById('query').value}`,{method:'GET',headers:{"Content-Type": "application/json"}})
            .then(res=>res.json())
            .then(data=>{
                load_queries(data);
            })
            .catch(error =>{
                alert(error);
            })
        }
        function load_queries(qrs){
            console.log(qrs)
            document.getElementById('res').innerHTML = '';
            for(const q of qrs){
                const sq = document.createElement('div');
                const nm = document.createElement('h2');
                nm.textContent = q["name"];
                const eml = document.createElement('p');
                eml.textContent = q["email"];
                const bt = document.createElement('button');
                bt.textContent = 'View profile';
                bt.onclick = function(){
                    location.href = `http://localhost:5000/users/${q["email"]}`;
                }
                sq.appendChild(nm);
                sq.appendChild(eml);
                sq.appendChild(bt);
                document.getElementById('res').appendChild(sq);
            }
        }
    </script>
</body>
</html>